
 #checklist {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#checklist li {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
#checklist li.checked label {
  text-decoration: line-through;
  color: #aaa;
}
#checklist li input[type="checkbox"] {
  margin-right: 10px;
}
h1,
h2,
h3,
h4,
h5,
p{
   font-family: revert;
   padding-left: 50px;
}
.title{
  font-size: 50px;
  background: #ABADFC;
  color: #fff;
  margin: 0px;
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;
  padding-left: 0px;
}
.subtitle{
  font-size: 30px;
  color: #ABADFC;
  margin-bottom: 0px;
}
.subtitle-no-margin{
  padding-left: 0px;
  font-family: revert;
  font-size: 30px;
  color: #ABADFC;
  margin-bottom: 0px;
}
.pubblicita{
  font-size: 20px;
  color:#000;
  padding-left:0px;
  padding-top: 15px;
}
.form-pubblicita{
  background: #f2f2f2;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
  text-align: center;
  margin-left: 42%;
  width: 313px;
}
li{
 margin-bottom: 20px;
 margin-left: 20px;
 font-size: 20px;
}
li::marker{
 display: none;
}
.check{
  border: 2px solid #ABADFC;
  margin-left: 50px;
  margin-right: 50px;
}
.check-no-margin{
  border: 2px solid #ABADFC;
  margin-left: 0px;
  margin-right: 50px;
}
.row{
  display: flex;
  width: 100%;
  align-items: center;
  margin-top: 50px;
}
.col-6{
  float: inherit;
  position: relative;
  width: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
nav {
  background-color: #f2f2f2;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  display: block;
  padding: 10px;
  color: #333;
  text-decoration: none;
}
nav ul li a:hover {
  background-color: #ddd;
}
label{
 line-height: 30px;
}
button{
 margin-top: 20px;
 margin-bottom: 20px;
}
