
 #checklist {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#checklist li {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
#checklist li.checked label {
  text-decoration: line-through;
  color: #aaa;
}
#checklist li input[type="checkbox"] {
  margin-right: 10px;
}
h1,
h2,
h3,
h4,
h5,
p{
   font-family: revert;
   padding-left: 50px;
}
.title{
  font-size: 50px;
  background: #ABADFC;
  color: #fff;
  margin: 0px;
  padding-bottom: 20px;
  padding-top: 20px;
}
.subtitle{
  font-size: 30px;
  color: #ABADFC;
  margin-bottom: 0px;
}
li::marker{
 display:none;
}
li{
 margin-bottom: 20px;
 margin-left: 50px;
 font-size: 20px;
}
.check{
  border: 2px solid #ABADFC;
  margin-left: 50px;
  margin-right: 50px;
}
.spazio{
  margin-top: 20px;
}
