
 #checklist {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#checklist li {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
#checklist li.checked label {
  text-decoration: line-through;
  color: #aaa;
}
#checklist li input[type="checkbox"] {
  margin-right: 10px;
}
.title{
  font-size: 50px;
  font-family: revert;
  color: #ABADFC;
}
li::marker{
 display:none;
}
li{
 margin-bottom: 20px;
 margin-left: 50px;
 font-size: 20px;
}
.check{
  border: 1px solid #000;
}
.checkbox-color{
  color:#ABADFC;
}
.spazio{
  margin-top: 20px;
}
